.header {
    height: rem(84px);
    background-color: var(--site-bg-color);
}

.inner {
    height: rem(84px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    padding-top: var(--mantine-spacing-lg);
    height: rem(84px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainLinks {
    margin-right: calc(var(--mantine-spacing-sm) * -1);
}

.mainLink {
    text-transform: uppercase;
    font-size: var(--mantine-font-size-xs);
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
    padding: rem(7px) var(--mantine-spacing-sm);
    font-weight: 700;
    border-bottom: rem(2px) solid transparent;
    transition:
        border-color 100ms ease,
        color 100ms ease;

    @mixin hover {
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
        text-decoration: none;
    }

    &[data-active] {
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
        border-bottom-color: var(--site-accent-color-1);
    }
}

.smMenu {
    width: 100%;
    color: var(--site-accent-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    animation: fadeInAnimation ease 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: auto;
}

.headerInner {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #39577480;
    backdrop-filter: blur(3px);
}

.link {
    margin-right: 20px;
    background-color: #F7F8FC;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    &:last-child {
        margin-right: 0;
    }
}

@keyframes fadeInAnimation { 
    0% {
        opacity: 0; 
    } 
    100% {
        opacity: 1; 
    } 
}

.logo {
    width: 180px;
    height: 84px;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 31px;
}

@media (max-width: 768px) {
    .logo {
        width: 180px;
        left: -20px;
    }
}