@layer reset, base, tokens, recipes, utilities;

/* COMMON */

:root {

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #D9DCEE;
    margin: 0;
}

/* PC */

/* SP */

@media (max-width: 768px) {

}